.shadowPane {
    -fx-background-color: transparent;
}

.rootPane {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 5px; /* all corners rounded */
}

.titlebar {
    -fx-background-color: #232323;
    -fx-background-radius: 5px 5px 0 0; /* top left & right corner */
}

.titlebar .closeButton {
    -fx-background-color: #ff5f57;
    -fx-background-radius: 6px;
}

.titlebar .closeButton:hover {
    -fx-background-color: #c64035;
}

.menuField {
    -fx-background-color: #232323;
    -fx-background-radius: 5px;
    -fx-control-inner-background: #232323;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: #1d1d1d;
}

/*noinspection CssInvalidPseudoSelector*/
.menuField:invalid {
    -fx-text-box-border: #c64035;
    -fx-focus-color: #c64035;
    -fx-faint-focus-color: #c6403555;
}

.styledButton {
    -fx-text-fill: #e5e5e5;
}

.styledButton:focused {
    -fx-background-color: #232323;
    -fx-border-color: #1d1d1d;
    -fx-effect: dropshadow(gaussian, rgba(29, 29, 29, 0.4), 3, 0.5, 0.0, 0.0);
}

.styledButton:pressed {
    -fx-background-color: #1d1d1d;
}

/* Accept Match Dialog */
.chessRequest {
    -fx-background-color: #232323;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: #1d1d1d;
    -fx-effect: dropshadow(gaussian, rgba(29, 29, 29, 0.4), 3, 0.5, 0.0, 0.0);
}

.chessRequest .accept {
    -fx-background-color: #4a8e24;
    -fx-background-radius: 0 0 0 5px;
}

.chessRequest .accept:hover {
    -fx-background-color: #75ce3c;
}

.chessRequest .decline {
    -fx-background-color: #c64035;
    -fx-background-radius: 0 0 5px 0;
}

.chessRequest .decline:hover {
    -fx-background-color: #ff5f57;
}
